<a href="https://colab.research.google.com/github/kevinardani/PBO/blob/main/latihan2_KevinArdani_Inputan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#4.3.1 Program identitas Mahasiswa

In [ ]:
nama_mhs = str(input('Masukan Nama Anda = '))
nim_mhs = str(input('Masukan NIM Anda = '))
kelas_mhs = str(input('Masukan Kelas Anda = '))
umur = str(input('Masukan Umur Anda ='))

print('')
print('')
tampilInfoMhs = 'Detail dari Informasi Anda..\n\nNama Anda Adalah : '+nama_mhs+'\nNim Anda Adalah : '+nim_mhs+'\nAnda berada dikelas :'+kelas_mhs+'\nBerumur : '+umur
print(tampilInfoMhs)
print('Nama Anda Adalah {} dengan nim {} bernama {} dan berumur {}'
.format(nama_mhs, nim_mhs, kelas_mhs, umur))

Masukan Nama Anda = 20
Masukan NIM Anda = 11
Masukan Kelas Anda = 12
Masukan Umur Anda =12


Detail dari Informasi Anda..

Nama Anda Adalah : 20
Nim Anda Adalah : 11
Anda berada dikelas :12
Berumur : 12
Nama Anda Adalah 20 dengan nim 11 bernama 12 dan berumur 12

pada program diatas terdapat variabel dengan nama_mhs, nim_mhs, kelas_mhs, umur 
menggunakan tipe data string dan menggunakan inputan

#4.3.2 Program Input Bilangan 3 buah bilangan bulat

In [ ]:
bil1 = int(input('Masukan Bilangan ke-1 = '))
bil2 = int(input('Masukan Bilangan ke-2 = '))
bil3 = int(input('Masukan Bilangan ke-3 = '))
print('')
jumlah = bil1**2 +(bil2/bil3)-bil3
print('Hasilnya adalah = ', jumlah)

Masukan Bilangan ke-1 = 20
Masukan Bilangan ke-2 = 15
Masukan Bilangan ke-3 = 5

Hasilnya adalah =  398.0

program diatas untuk mencario jumlah dari inputan bilangan ke 1, dan ditambah dari (bil2/bil3) lalu dikurangi - bil3

#4.4.3 Program membuat waktu dan detik

In [ ]:
v = float(input('Masukan Kecepatan = '))
s = int (input('Masukan Jarak yang Ditempuh = '))
t = v/s 
print('')
print('Hasilnya adalah = ',t)

Masukan Kecepatan = 20
Masukan Jarak yang Ditempuh = 80

Hasilnya adalah =  0.25

pada program diatas untuk membuat program waktu dan detik, dengan membagi kecepatan / jarak tempuh

#4.3.4 Program Buat Sisa Siswa dan Bus

In [ ]:
kapasitas = 25
jumlah_siswa = int(input('Jumlah Siswa = '))
bus = jumlah_siswa//kapasitas 
sisa = jumlah_siswa%kapasitas
print('Bus yang akan digunakan = ', bus)
print('Sisa Siswanya adalah = ', sisa)

Jumlah Siswa = 30
Bus yang akan digunakan =  1
Sisa Siswanya adalah =  5

program diatas untuk mencari bus yang akan digunakan untuk siswa

#4.3.5 Program Selisih Tahun

In [ ]:
nama_1 = str(input('Nama 1 = '))
umur_1 = int(input('Umur 1 = '))
nama_2 = str(input('Nama 2 = '))
umur_2 = int(input('Umur 2 = '))
selisih=umur_1-umur_2
print('selisih umur=',selisih)

Nama 1 = Ardan
Umur 1 = 19
Nama 2 = Sabam
Umur 2 = 19
selisih umur= 0

program diatas untuk mencari selish tahun dari perbandingan 2 mahasiswa

#4.3.6 Program Membuat Input Bilangan Bulat

In [ ]:
bil1 = int(input('Masukan Bilangan Ke-1 = '))
bil2 = int(input('Masukan Bilangan ke-2 = '))
print('')
print('Dan Hasilnya Adalah..')
print('')
tambah = bil1 + bil2
kali = bil1*bil2
print('Hasil tambahnya adalah = ', tambah)
print('Hasilnya perkaliannya Adalah = ', kali)

Masukan Bilangan Ke-1 = 8
Masukan Bilangan ke-2 = 6

Dan Hasilnya Adalah..

Hasil tambahnya adalah =  14
Hasilnya perkaliannya Adalah =  48

Program diatas untuk mencari inputan bilangan bulat

#4.3.7 Program Menghitung Volume

In [ ]:
r = int(input('jari jari ='))
t = int(input('tinggi ='))
phi = 3.14
volume = 1/3*phi*r**t
print('volume', volume)

jari jari =46
tinggi =21
volume 8.66408807890394e+34

program diatas untuk mencari volume dari jari jari

#4.3.8 Program Menghitung Pajak Gaji Karyawan

In [ ]:
nama = input('Masuka Nama Anda = ')
jabatan = input('Masukan Jabatan Anda = ')
gaji = int(input('Masuka Gaji Anda = '))
pajak = 10/100*gaji 

print()
print('Pegawai dengan nama', nama, 'dan jabatan', jabatan, '\ndengan gaji', gaji, 'harus membayar pajak sebesar', pajak)

Masuka Nama Anda = Ardan
Masukan Jabatan Anda = IT Security Analyst
Masuka Gaji Anda = 100000000

Pegawai dengan nama Ardan dan jabatan IT Security Analyst
dengan gaji 100000000 harus membayar pajak sebesar 10000000.0

Program diatas untuk menghitung pajak dan gaji karyawan, dengan program gaji dibagi pajak 10%

#Latihan Input
    Buat Algoritma untuk menghitung:
    volume bola dengan rumus : v=4/3 (phi * r^3)
    x=(-b+2c^2+4ab)/2
    m=(a-b)/3ac(1-b/cd)

In [ ]:
#soal 1
r = 7
phi = 3.14
rumus = 4/3 * phi*r**3
print(rumus)

1436.0266666666666

In [ ]:
#soal 2
a=8 
b=5
c= 2
rumus=(-b+2*c**2+4*a*b)/2
print(rumus)

81.5

In [ ]:
#soal 3
a= 8
b= 9
c= 4
d= 3
rumus=(a-b)/3*a*c*(1-b/c*d)
print(rumus)

61.33333333333333

#Praktek awal belajar Python with Bu Wendah

In [ ]:
print("halooo.. saya lagi belajar [python]")

halooo.. saya lagi belajar [python]

In [ ]:
x=5
y=7 
z=x+y
print(z)
print(type(z))

12
<class 'int'>

Latihan untuk operator

In [ ]:
x=5
y=3
z=x**y
print(z)

125

Buatlah program untuk menginputkan biodata diri

In [ ]:
nama=input("masukan nama anda:")
tlahir=int(input("masukkan tahun lahir "+nama+";"))
umur=2023-tlahir
print(nama +" Sekarang umur kamu adalah ",umur)

masukan nama anda:ardan
masukkan tahun lahir ardan;2003
ardan Sekarang umur kamu adalah 20